body {
	background-color: #30383c;
	font-family: Helvetica;
	color: #fff;
	padding: 20px 25px 10px 25px;
	max-width: 800px;
    margin: 0 auto;
}

header{

	h1 {
		margin: 0px 0px 20px 0px;
    	text-transform: capitalize;
    	display: inline-block;
	}

	button {
		float: right;
		margin-top: 12px
	}
}


button, .button {
    border: 0px;
    border-radius: 20px;
    background-color: #007aff;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;

	&.light {
	    background-color: rgb(110, 169, 232);
	    opacity: 0.9;
	}

	&[disabled]{
		cursor: default;
	}
}

$border_radius_wall: 10px;

#random-wallpaper-active{
	width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
    min-height: 120px;
    background-color: #9c9898;
    border-radius: $border_radius_wall;

    img{
    	max-width:100% !important;
    	height:auto;
    	display:block;
    	border-radius: $border_radius_wall;
    }

    &.loading{
    	animation: fadein 1s infinite linear;
		animation-delay:0.2s;

		.foot-buttons{
			display: none !important;
		}
    }

    .foot-buttons {
	    float: right;
	    position: relative;
	    top: -34px;
	    right: 10px;
	    margin-top: -2%;
	    margin-right: 2%;

	    button {
		    border: 1px dotted #006adc;
		}
	}
}


@keyframes fadein {
    from {
        opacity:0.2;
    }
    to {
        opacity:0.8;
    }
}