<!DOCTYPE HTML>
<html ng-app="app">
<head>
	<meta charset="UTF-8"/>
	<title>Configuration:: ranwall</title>
	<link href="css/app.css" rel="stylesheet"/>
</head>
<body class="config" ng-controller="configController">
	<script type="text/javascript">
        if(process.platform == "win32") document.body.classList.add('windows');
    </script>
	<nav>
		<a href="#app" class="button grey light">App</a>
		<a href="#wallpaper" class="button grey light">Wallpaper</a>
		<a href="#tricks" class="button grey light">Tricks</a>
		<a href="#advanced" class="button grey light">Advanced</a>
	</nav>
	<div class="content">
		<table border="0">
			<tr id="app">
				<td><h2>App:</h2></td>
				<td>
					<div class="config-option">
						<input type="checkbox" ng-model="hideAtLaunch" id="show-at-open"/>
						<label for="show-at-open">Hide at launch (always)</label>
					</div>

					<div class="config-option">
						<input type="checkbox" ng-model="launchAtStartup" id="start-at-ss"/>
						<label for="start-at-ss">Launch at startup</label>
					</div>

					<div class="config-option">
						<input type="checkbox" ng-model="darkTheme" id="dark-theme"/>
						<label for="dark-theme">Dark theme</label>
					</div>
				</td>
			</tr>
			<tr id="wallpaper">
				<td><h2>Wallpaper:</h2></td>
				<td>
					<div class="config-option">
						<label for="wall_provider" class="block">Provider:</label>
						<div class="select-wrapper">
							<select ng-model="selectedProviders" id="wall_provider" multiple="multiple" ng-change="providersChanged()" size="{{wproviders.length}}">
								<option value="{{key}}" ng-selected="value.status" ng-repeat="(key, value) in wproviders">{{value.name}}</option>
							</select>
						</div>
					</div>

					<div class="config-option">
						<label for="resolution_x" class="block">Resolution:</label>
						<input type="number" id="resolution_x" ng-model="res_x" step="10"/><span class="x">x</span><input type="number" id="resolution_y" ng-model="res_y" step="10"/>
						<button class="grey" ng-click="resolution_input('default')" title="Default">DF</button>
						<button class="grey" ng-click="resolution_input('hd')" title="HD">HD</button>
						<button class="grey" ng-click="resolution_input('4k')" title="4K">4K</button>
						<span class="info">+ resolution, + loading time</span>
					</div>
				</td>
			</tr>
			<tr id="tricks">
				<td><h2>Tricks:</h2></td>
				<td>
					<div class="config-option">
						<input type="checkbox" ng-model="wallPreview" id="wall-preview"/>
						<label for="wall-preview">Wallpaper preview</label>
					</div>
					<div class="config-option">
						<input type="checkbox" ng-model="forceResize" id="force-resize"/>
						<label for="force-resize">Force wallpaper resize</label>
						<span class="info">If image obtained not have wished resolution</span>
					</div>
				</td>
			</tr>
			<tr id="advanced">
				<td><h2>Advanced options:</h2></td>
				<td>
					<div class="config-option" style="padding-top: 5px; padding-bottom: 15px">
						<label>Magic Shortcut:</label>
						<div style="margin-top: 5px"></div>
						<input type="text" ng-model="magicShortcut" id="magicShortcut" readonly="readonly" />
						<button ng-click="record_shortcut()" ng-class="{'red': magicShortcut_recording}">{{ !magicShortcut_recording ? 'Record' : '...' }}</button>
						<span class="info">Blur input to cancel record or save. Restart app for try your custom shortcut!</span>
					</div>

					<div class="config-option">
						<button style="display: block" ng-click="deleteCache()">Delete cache</button>
						<span class="info">If you have set a ranwallpaper, it may not be established when restart the computer.</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<script src="js/_vendor/angular/angular.js"></script>
	<script src="js/_vendor/angular-random-string/angular-random-string.js"></script>
	<script src="js/_vendor/angular-local-storage/angular-local-storage.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/configController.js"></script>
	<script type="text/javascript" src="js/win.js"></script>
	<script type="text/javascript" src="js/updater.js"></script>
	<script type="text/javascript" src="js/wall.js"></script>
</body>
</html>