<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>
        ranwall
    </title>
    <link rel="stylesheet" type="text/css" href="css/line-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body ng-controller="mainController">

    <header>
        <h1><img src="img/logoText.png" onmousedown="return false"/></h1>
        <button class="grey" id="config" ng-click="openConfig()"><i class="la la-cog" aria-hidden="true"></i></button>
        <button id="refresh-random-wallpaper" ng-click="refreshBtnClick()">refresh</button>
    </header>

    <div id="random-wallpaper-active" class="loading" ng-dblClick="setBtnClick()">
        <img ng-mouseover="previewup()" ng-mouseout="previewdown()"/>
        <div class="on-error">
            <h2>Error trying load wallpaper</h2>
            <p>Will be retry at 10 seconds automatically.</p>
        </div>

        <div class="foot-buttons">
            <div class="info">
                <span title="Provider">{{current_wallpaper.provider}}</span>
                <span ng-show="!current_wallpaper.isDesiredResize" title="Original size">{{current_wallpaper.originalResize.width}}x{{current_wallpaper.originalResize.height}}</span>
            </div>
            <button class="very light" id="saveas-wallpaper" ng-click="saveasBtnClick()"><i class="la la-download"></i></button>
            <button class="light" id="set-wallpaper" ng-click="setBtnClick()">set</button>
        </div>
    </div>
    
    <script src="js/web-pull-to-refresh/hammer.2.0.4.js"></script>
    <script src="js/web-pull-to-refresh/wptr.1.1.js"></script>
    <script src="js/_vendor/angular/angular.js"></script>
    <script src="js/_vendor/angular-random-string/angular-random-string.js"></script>
    <script src="js/_vendor/angular-local-storage/angular-local-storage.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainController.js"></script>
    <script src="js/win.js"></script>
    <script src="js/wall.js"></script>
    <script src="js/previewer.js"></script>
    <script src="js/updater.js"></script>
</body>

</html>
