body:not(.no-fixed-waller) header .center {
	background: rgba(255,255,255, 0.6);
	padding: 10px;
	border-radius: 8px;
	max-width: 900px;
}

.waller{
	width: 100%;
	height: 100vh;
	background-image: url('../img/wall.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	position: fixed;
	top: 0;
	z-index: -10;
}

#app-template{
	margin-top: 10px;
	position: relative;
}

#app-template.loading > .load-background{
	display: block;
}

#app-template > .load-background{
	display: none;
	width: calc(100% - 10px);
	background-color: #777;
	position: absolute;
	margin: 20px 5px;
	height: calc(100% - 40px);
	z-index: -10;
	
}

#app-template > .load-background:before{
	width: 100%;
	height: 100%;
	content: ' ';
	background-color: #30383c;
	animation: fadein 1s infinite linear;
	animation-delay: 0.2s;
	display: block;
}

@keyframes fadein {
	from {
		opacity:0.2;
	}
	to {
		opacity:0.8;
	}
}

#app-template > img{
	width: 100%;
	border-radius: 5px
}

#app-template::selection {
	background: transparent;
}

content{
	margin-top: 100vh;
	padding: 0 0 !important;
	z-index: 10;
}

content > div{
	border-top: 1px solid #ccc;
	background-color: white;
	padding: 20px 0;
}

body header nav{
	margin-left: 5px;
}

body.no-fixed-waller .waller{
	position: relative;
	z-index: 1000;
}

body.no-fixed-waller #app-template > img{
	opacity: 0;
}

body.no-fixed-waller content {
	margin: 0 !important;
}

body.no-fixed-waller content section:first-child{
	padding: 70px 0 0;
}

@media screen and (max-width: 945px){
	body:not(.no-fixed-waller) header .center{
		padding: 5px;
	}

	body header .center {
		width: calc(100% - 10px);
	}

	body header nav {
		height: 22px;
	}

	.waller{
		height: inherit;
		padding-bottom: 5%; 
		position: relative;
		z-index: inherit;
	}

	content{
		margin-top: 0px
	}

	#app-template{
		margin-top: 0px;
		z-index: 10;
	}

	#app-template > .load-background{
		margin: 0 20px;
		width: calc(100% - 40px);
	}

	#app-template > img{
		margin: 0 20px;
		width: calc(100% - 40px);
	}

	section{
		margin: 0 20px 20px;
	}

	body.no-fixed-waller content > div{
		padding: 90px 0;
	}
}